.wbdv-sticky-nav-bar {
    background-color: dodgerblue;
    position: fixed;
    width: 100%;
    z-index: 4;
}

.color-red {
    color:#f01c1c;
}

.color-white {
    color:white;
}

.color-blue{
    color:blue;
}



.background-lightgrey{
    background-color:lightgrey;
}

